{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 2{% endblock %}

{# основной контент: #}
{% block main %}
<h1>Калькулятор</h1>
    <p>Расчёт с параметрами {{ a }} и {{ b }}:</p>
    <ul>
        <li>{{ a }} + {{ b }} = {{ a + b }}</li>
        <li>{{ a }} - {{ b }} = {{ a - b }}</li>
        <li>{{ a }} * {{ b }} = {{ a * b }}</li>
        <li>{{ a }} / {{ b }} = {{ a / b }}</li>
        <li>{{ a }}<sup>{{ b }}</sup> = {{ a ** b }}</li>
    </ul>
    <a href="/lab2/">Назад к лабораторной</a>
{% endblock %}