{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 3{% endblock %}

{# основной контент: #}
{% block main %}

    <h1>Cookies</h1>
    <form>
        <div>
            <label for="color">Выберете цвет текста:</label>
            <input type="color" id="color" name="color" value="{{ color or 'rgb(14, 75, 101)' }}">
        </div>
        <div>
            <label for="font_size">Выберите размер шрифта:</label>
            <input type="number" id="font_size" name="font_size" value="{{ font_size or '18' }}"> px
        </div>
        <div>
            <label for="bg_color">Выберите цвет фона:</label>
            <input type="color" id="background_color" name="background_color" value="{{ background_color or 'white' }}">
        </div>
        <div>
            <button type="submit">OK</button>
        </div>
    </form>
{% endblock %}
