{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 3{% endblock %}

{# основной контент: #}
{% block main %}
    <h1>Железнодорожный билет</h1>
    <p>ФИО пассажира: {{ pass_name }}</p>
    <p>Тип билета: {{ ticket_type }}</p>
    <p>Цена: {{ ticket_price }} руб.</p>
    <p>Пункт выезда: {{ from_t }}</p>
    <p>Пункт назначения: {{ to_t }}</p>
    <p>Дата поездки: {{ travel_date }}</p>
    <a href="{{ url_for('lab3.train') }}">Оформить новый билет</a>
{% endblock %}
