{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 3{% endblock %}

{# основной контент: #}
{% block main %}

    <h1>Оформление билета</h1>

    <form action="{{ url_for('lab3.train') }}">
        <label for="pass_name">ФИО пассажира:</label>
        <input type="text" id="pass_name" name="pass_name" required><br><br>

        <label for="shelf">Полка:</label>
        <select id="shelf" name="shelf" required>
            <option value="">Выберите полку</option>
            <option value="low">Нижняя</option>
            <option value="upp">Верхняя</option>
            <option value="upp_side">Верхняя боковая</option>
            <option value="low_side">Нижняя боковая</option>
        </select><br><br>

        <label for="with_bed">С бельём:</label>
        <input type="checkbox" id="with_bed" name="with_bed"><br><br>

        <label for="with_luggage">С багажом:</label>
        <input type="checkbox" id="with_luggage" name="with_luggage"><br><br>

        <label for="age">Возраст:</label>
        <input type="number" id="age" name="age" min="1" max="120" required><br><br>

        <label for="from_t">Пункт отправления:</label>
        <input type="text" id="from_t" name="from_t" required><br><br>

        <label for="to_t">Пункт назначения:</label>
        <input type="text" id="to_t" name="to_t" required><br><br>

        <label for="travel_date">Дата поездки:</label>
        <input type="date" id="travel_date" name="travel_date" required><br><br>

        <label for="insurance">Страхование жизни пассажира:</label>
        <input type="checkbox" id="insurance" name="insurance"><br><br>

        <button type="submit">Купить</button>
    </form>
{% endblock %}
