{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1> Статьи </h1>
    
    {% if error %}
        <div>{{ error }}</div>  
    {% endif %}

    {% if articles %}

        {% for article in articles %}
            <h2> {{ article['title'] }}</h2>
            <blockquote>{{ article['article_text'] }}</blockquote>
        <a href="/lab5/edit/{{ article['id'] }}">Редактировать</a> |
        <a href="/lab5/delete/{{ article['id'] }}">Удалить</a>
        {% endfor %}
    {% else %}
    <p>У вас пока нет статей</p> 
    {% endif %}
{% endblock %}