{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
    <h1>База знаний</h1>
    
    {% if current_user.is_authenticated %}
        <p>Добро пожаловать, <strong>{{ current_user.login }}</strong>!</p>
        <p>Вы можете:</p>
        <section>
            <div class="block1">
                <div class="bl">
                    <a href="{{ url_for('lab8.article_list') }}">Просмотреть статьи</a>
                </div>
                <div class="bl">
                    <a href="{{ url_for('lab8.create') }}">Создать новую статью</a>
                </div>
                <div class="bl">
                    <a href="{{ url_for('lab8.logout') }}">Выйти из системы</a>
                </div>
            </div>
        </section>
    {% else %}
        <p>Для работы с системой необходимо авторизоваться.</p>
        <ul>
            <li><a href="{{ url_for('lab8.login') }}">Войти</a></li>
            <li><a href="{{ url_for('lab8.register') }}">Зарегистрироваться</a></li>
        </ul>
    {% endif %}
{% endblock %}