{% extends "base.html" %}

{% block lab %}Лабораторная работа 8 - Вход{% endblock %}

{% block main %}
    <h1>Вход в систему</h1>
    
    {% if error %}
        <div style="color: red; padding: 10px; border: 1px solid red; margin-bottom: 15px;">
            {{ error }}
        </div>
    {% endif %}
    
    <form method="post" action="{{ url_for('lab8.login') }}">
        <div>
            <label for="login">Логин:</label><br>
            <input type="text" id="login" name="login" required>
        </div><br>
        
        <div>
            <label for="password">Пароль:</label><br>
            <input type="password" id="password" name="password" required>
        </div><br>
        
        <div>
            <label>
                <input type="checkbox" name="remember">
                Запомнить меня
            </label>
        </div><br>
        
        <button type="submit">Войти</button>
    </form>
    
    <p>Нет аккаунта? <a href="{{ url_for('lab8.register') }}">Зарегистрируйтесь</a></p>
{% endblock %}