{% extends "base.html" %}

{% block lab %}Лабораторная работа 8 - Регистрация{% endblock %}

{% block main %}
    <h1>Регистрация</h1>
    
    {% if error %}
        <div style="color: red; padding: 10px; border: 1px solid red; margin-bottom: 15px;">
            {{ error }}
        </div>
    {% endif %}
    
    <form method="post" action="{{ url_for('lab8.register') }}">
        <div>
            <label for="login">Логин:</label><br>
            <input type="text" id="login" name="login" required minlength="3" maxlength="30">
        </div><br>
        
        <div>
            <label for="password">Пароль:</label><br>
            <input type="password" id="password" name="password" required minlength="6">
        </div><br>
        
        <button type="submit">Зарегистрироваться</button>
    </form>
    
    <p>Уже есть аккаунт? <a href="{{ url_for('lab8.login') }}">Войдите</a></p>
{% endblock %}